<template name="activity">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon ion-reply nav-back"></button>
        <h1 class="title">发起活动</h1>

    </div>
    <div class="content has-header padding">
        <div class="item item-avatar">
            <img src="~/img/stadium.png">
            <h2>虹口足球场</h2>
            <h3>虹口足球场是一个好球场</h3>
        </div>
        <div class="list">
            <a class="item item-text-wrap" href="#">
                <span>具体时间</span>
                <span class="item-note">9-15 15:00</span>
            </a>
            <a class="item item-text-wrap" href="#">
                <span>人数限制</span>
                <span class="item-note">五人制</span>
            </a>
            <a class="item item-text-wrap" href="#">
                <span>活动费用</span>
                <span class="item-note">人均50元</span>
            </a>
        </div>
        <div class="card button-outline">
            <div class="item item-divider item-text-wrap">
                <span>报名成员</span>
                <a href="#" class="item-note">编辑</a>
            </div>
            <div class="item item-avatar item-text-wrap">
                <img src="~/img/stadium.png">
                <span>球队成员</span>
                <span class="item-note">50元</span>
            </div>
            <div class="item item-text-wrap">
                水费：￥500
            </div>
            <div class="item item-text-wrap">
                其他：￥500
            </div>
        </div>
    </div>
</template>