<template name="activeAccounting">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon ion-reply nav-back"></button>
        <h1 class="title">活动标题</h1>
        <button class="button button-icon ion-edit nav-back"></button>
    </div>
    <div class="content has-header padding">
        <ul class="list">
            <li class="item item-text-wrap" href="#">
                <span>原队费</span>
                <span class="item-note">￥1500</span>
            </li>
        </ul>

        <div class="card button-outline">
            <div class="item item-divider item-text-wrap">
                <span>本期队费</span>
                <span class="item-note">￥1500</span>
            </div>
            <div class="item item-text-wrap">
                对方金额：￥1500
            </div>
            <div class="item item-text-wrap">
                我方金额：￥500
            </div>
        </div>

        <div class="card button-outline">
            <div class="item item-divider item-text-wrap">
                <span>本期支出</span>
                <span class="item-note">￥1800</span>
            </div>
            <div class="item item-text-wrap">
                场地费用：￥1500
            </div>
            <div class="item item-text-wrap">
                水费：￥500
            </div>
            <div class="item item-text-wrap">
                其他：￥500
            </div>
        </div>

    </div>
</template>