<template name="activeMatch">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon ion-reply nav-back"></button>
        <h1 class="title">发起活动</h1>
    </div>
    <div class="content has-header padding">
        <div class="list">
           <a class="item item-text-wrap" href="#">
               <span>球队内/外</span>
               <span class="item-note">允许欠费</span>
           </a>
            <a class="item item-text-wrap" href="#">
                <span>活动对象</span>
                <span class="item-note">对团队</span>
            </a>
        </div>
        <div class="list">
            <a class="item item-text-wrap" href="#">
                <span>活动场地</span>
                <span class="item-note">虹桥第三足球场</span>
            </a>
            <a class="item item-text-wrap" href="#">
                <span>活动时间</span>
                <span class="item-note">2015-1-1</span>
            </a>
            <a class="item item-text-wrap" href="#">
                <span>费用</span>
                <span class="item-note">50元</span>
            </a>
            <a class="item item-text-wrap" href="#">
                <span>几人制</span>
                <span class="item-note">12</span>
            </a>
            <a class="item item-text-wrap" href="#">
                <span>限定人数</span>
                <span class="item-note">6</span>
            </a>
        </div>
        <div class="list">
           <div class="item item-toggle item-text-wrap">
               <span>限定人数</span>
               <label class="toggle toggle-assertive">

                   <input name="isLimit" type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
               </label>
           </div>
            <a class="item item-text-wrap" href="#">
                <span>计费方式</span>
                <span class="item-note">手工计费</span>
            </a>
        </div>
        <button class="button button-block button-positive">发起活动</button>
    </div>
</template>