<template name="authOverlay">
  <div class="list">
      <div class="list list-inset">
          <form>
              <label class="item item-input">
                  <i class="icon ion-person placeholder-icon"></i>
                  <input name="userName" type="text" placeholder="手机号码">
              </label>
              <label class="item item-input">
                  <i class="icon ion-key placeholder-icon"></i>
                  <input name="userPassword" type="password" placeholder="密 码">
              </label>
              <button type="submit" class="button button-block button-energized login-button">
                   登 录
              </button>
          </form>
          <a href="{{pathFor 'register' }}" class="button button-clear button-block button-positive">注册一个新账号</a>
      </div>
  </div>
</template>