<template name="duineiyuyue">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon icon ion-reply"></button>
        <h1 class="title">对内预约</h1>
    </div>
    <div class="content has-header padding">
        <div class="list">
            <a href="#" class="item item-text-wrap">
                <span>活动场地</span>
                <span class="item-note">虹桥第三球场</span>
            </a>
            <a href="#" class="item item-text-wrap">
                <span>费用</span>
                <span class="item-note">50</span>
            </a>
            <a href="#" class="item item-text-wrap">
                <span>几人制</span>
                <span class="item-note">24</span>
            </a>
            <a href="#" class="item item-text-wrap">
                <span>限定人数</span>
                <span class="item-note">12</span>
            </a>

        </div>
        <div class="padding-top">
            <a href="#" class="item item-text-wrap">
                <span>欠费允许参加</span>
                <span class="item-note">允许欠费</span>
            </a>
            <a href="#" class="item item-text-wrap">
                <span>计费方式</span>
                <span class="item-note">手动计费</span>
            </a>
        </div>




        <button type="submit" class="button button-block button-positive"> 提交</button>
    </div>

</template>