<template name="home">
<div class="page home">
    {{> nav title='我的首页' }}
    <div class="content has-header content-scrollable padding">
        <div class="list card my-avatar button-outline padding-top">
            <div class="item">
                <div class="row">
                    <div class="col col-33">
                        <a class="ion-android-contact" style="font-size: 78px"></a>
                    </div>
                    <div class="col col-66">
                        <div class="list">
                            <div class="list-item">
                                姓名：
                            </div>
                            <div class="list-item">
                                性别：
                            </div>
                            <div class="list-item">
                                年龄：
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row button button-outline my-signature">
            个性签名：
        </div>

        <div class="row button button-outline button-light">
            <div class="col col-50">
                <button class="button button-block">我的球队</button>
            </div>
            <div class="col col-50">
                <button class="button button-block">我的好友</button>
            </div>
        </div>
        <div class="card button-outline">
            <div class="item item-divider">
                我的活动
            </div>
            <div class="item item-text-wrap">
                我的活动内容
            </div>
            <div class="item item-text-wrap">
                我的相册
             </div>
            <div class="item item-text-wrap">
                我的财务报表
            </div>
        </div>

    </div>
</div>
</template>