<template name="profile">
    {{> nav title='资料完善' back=true }}

    <div class="content has-header content-scrollable padding">
        <div class="card button-outline padding-top">
            <div class="item item-text-wrap">
                <i class="ion-android-contact" style="font-size: 78px" ></i>
            </div>
            <div class="item item-text-wrap">
                姓名：
            </div>
            <div class="item item-text-wrap">
                性别：
            </div>
            <div class="item item-text-wrap">
                年龄：
            </div>
            <div class="item item-text-wrap">
                身高：
            </div>
            <div class="item item-text-wrap">
                体重：
            </div>
        </div>
        <div class="card button-outline">
            <div class="item item-text-wrap">
                喜欢球队
            </div>
            <div class="item item-text-wrap">
                擅长位置
            </div>
        </div>
    </div>
</template>