<template name="qiuduihuodong">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon icon ion-reply"></button>
        <h1 class="title">球队活动</h1>
    </div>
    <div class="content has-header padding">
        <div class="list">
            <a class="item item-content" href="#">
                <span class="item-note">12-30 </span>
                <h2>活动名称1</h2>
                <p>球员A:要上班这场球来不了了</p>

            </a>
            <a class="item item-content" href="#">
                <span class="item-note">11-11</span>
                <h2>活动名称2</h2>
                <p>球员A:要上班这场球来不了了</p>

            </a>
            <a class="item item-content" href="#">
                <span class="item-note">10-01 </span>
                <h2>活动名称三</h2>
                <p>球员A:要上班这场球来不了了</p>

            </a>
        </div>

    </div>

</template>