<template name="register">
    <form>
        <div class="list list-inset">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input class="user-name" name="userName" required="true" type="text" placeholder="手机号码">
                </label>
                <a class="button button-outline button-small button-stable send-verification-code">发送验证码</a>
            </div>
            <label class="item item-input">
                <i class="icon ion-key placeholder-icon"></i>
                <input name="verificationCode" required="true" type="text" placeholder="输入验证码">
            </label>
            <label class="item item-input">
                <i class="icon ion-key placeholder-icon"></i>
                <input name="newPassword" required="true" type="password" placeholder="密   码">
            </label>
            <label class="item item-input">
                <i class="icon ion-key placeholder-icon"></i>
                <input name="passwordConfirmation" required="true" type="password" placeholder="确认密码">
            </label>
            <button type="submit" class="button button-block button-energized">
                注 册
            </button>
            <a href="{{pathFor 'authOverlay' }}" class="button button-clear button-block button-energized">已有账号？点此登录</a>
        </div>
    </form>
</template>