<template name="signature">
    {{#nav title='资料完善' back=true}}
        <button class="button button-icon ion-android-archive right-buttons js-save"></button>
    {{/nav}}
    <div class="content has-header padding">
        <div class="card button-outline padding-top">
            <div class="item item-text-wrap">
              <textarea name="text" type="text"
                        autocapitalize="off" autocorrect="off"
                        required maxlength="30"
                        class="message-share"
                        placeholder="限制30字..."></textarea>
            </div>
        </div>
    </div>
</template>