<template name="stadiumDetailOverlay">
    <div class="modal" style="z-index: 99999">
        <div class="bar bar-header bar-light">
            <button class="title title-right icon ion-close-round js-close-overlay"></button>
        </div>
        <div class="card">
            <div class="item item-divider">
                B-人工草皮
                <a href="#" class="js-close-overlay item item-note"><span class="icon ion-close-round"></span></a>
            </div>

        </div>

    </div>
</template>