<template name="teamInformation">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon ion-reply nav-back"></button>
        <h1 class="title">球队资料</h1>
        <button class="button button-icon ion-edit nav-edit"></button>
    </div>

    <div class="content has-header padding">
        <div class="item item-avatar">
            <img src="~/img/stadium.png">
            <h2>虹口足球场</h2>
            <h3>虹口足球场是一个好球场</h3>
        </div>
        <div class="card button-outline">
            <a href="#" class="item item-divider">
                球场介绍
            </a>
            <div class="item item-text-wrap">
                球场介绍文字文字球场介绍文字文字球场介绍文字文字球场介绍文字文字
            </div>
        </div>
        <a href="" class="item item-text-wrap">
            <span>球场照片</span>
            <span class="item-note"> <img src="~/img/stadium.png"></span>
        </a>

        <div class="card button-outline">
            <a href="#" class="item item-divider">
                上海市虹口区东江湾路444号
            </a>
            <div class="item item-text-wrap">
                <span>交 通：可乘坐。。。。</span>
                <p>
                    <span>公交车辆：139,52</span>
                </p>
            </div>
        </div>
        <a href="" class="item item-text-wrap">
            <span>联系电话</span>
            <span class="item-note"> 021-5555555</span>
        </a>
        <div class="card button-outline">
            <div class="item item-divider">
                球场状况
            </div>
            <a href="#" class="item js-stadium-detail">
                 <div class="row">
                     <div class="col-80 item-avatar-left item-text-wrap">
                         <img src="~/img/stadium-details.png">
                        <h2>人工草皮</h2>
                        <span>五人制，有夜场</span>
                         <p>
                             推荐：跑鞋
                         </p>
                     </div>
                     <div class="col-20">
                        <span class="item-note icon-right ion-arrow-right-a"></span>
                     </div>
                 </div>
            </a>
            <a href="#" class="item">
                <div class="row">
                    <div class="col-80 item-avatar-left item-text-wrap">
                        <img src="~/img/stadium-details.png">
                        <h2>人工草皮</h2>
                        <span>五人制，有夜场</span>
                        <p>
                            推荐：跑鞋
                        </p>
                    </div>
                    <div class="col-20">
                        <span class="item-note icon-right ion-arrow-right-a"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>

</template>