<template name="wodehuodonggai">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon icon ion-reply"></button>
        <h1 class="title">我的活动</h1>
        <button class="button button-clear icon ion-navicon-round"></button>
    </div>
    <div class="content has-header padding">
        <div class="list">
            <a href="#" class="item item-text-wrap">
                <span>活动场地活动场地活动场地</span>
                <span class="item-note">即将开始</span>
            </a>
            <a href="#" class="item item-text-wrap">
                <span>我发起的活动我发起的活动</span>
                <span class="item-note"></span>
            </a>
            <a href="#" class="item item-text-wrap">
                <span>我参加的球队发起的活动</span>
                <span class="item-note button-energized">立刻参加
                <i class="ion-chevron-right "></i>
                </span>
            </a>
           
        </div>

        </div>

</template>