<template name="wodecaiwu1">
    <div class="bar bar-header bar-dark">
        <button class="button button-icon icon ion-reply"></button>
        <h1 class="title">A球队</h1>
        <button class="button button-clear icon ion-share"></button>
    </div>
    <div class="content has-header padding">
        <div class="list">
            <a class="item item-content" href="#">
                <span class="item-note">12-30 12:12 </span>
                <h2>活动名称A</h2>
                <p>球员A:要上班这场球来不了了</p>

            </a>
            <a class="item item-content" href="#">
                <span class="item-note">12-30 11:11</span>
                <h2>活动名称B</h2>
                <p>球员A:要上班这场球来不了了</p>

            </a>
            <a class="item item-content" href="#">
                <span class="item-note">10-01 12:12 </span>
                <h2>活动名称C</h2>
                <p>球员A:要上班这场球来不了了</p>

            </a>
        </div>

    </div>

</template>