<template name="woyaotiqiuhuodong">
    <div class="bar bar-header bar-dark">
        <h1 class="button-bar" style="padding-left: 25%;padding-right: 25%;">
            <a class="button">活动</a>
            <a class="button">场馆</a>
        </h1>
    </div>
    <div class="bar bar-subheader">
        <ul >
            <li>
                <select>
                    <option>上海市</option>
                    <option>北京市</option>
                </select>
                <i class="ion-chevron-down"></i>
            </li>
            <li><select>
                <option>虹口区</option>
                <option>北京市</option>
            </select>
                <i class="ion-chevron-down"></i>
            </li>
            <li><select>
                <option>运动区</option>
                <option>北京市</option>
            </select>
                <i class="ion-chevron-down"></i>
            </li>
            <li style="border-right-color: #ffffff"><select>
                <option>个人</option>
                <option>北京市</option>
            </select>
                <i class="ion-chevron-down"></i>
            </li>
        </ul>
        <style>
            li{
                float: left;
                width: 25%;
                border-right: 1px solid gray;
                color: gray;
                cursor: pointer;
            }

            select{
                background-color: #ffffff;
                border: 0 solid #ffffff;
                cursor: pointer;
            }

        </style>
    </div>

    <div class="content has-header padding">
        <div class="padding"></div>
        <div class="padding"></div>

        <div class="list ">
           与我有关的活动
            <div class="card">
                <a class="item item-content padding" href="#">
                    <span class="item-note">9-11 12：21 </span>
                    <h2>发起活动队伍名称</h2>
                    <p>活动场馆,目前人数及总需求人数</p>
                </a>
            </div>
            <div class="card">
                <a class="item item-content padding" href="#">
                    <span class="item-note">10-12 14：12</span>
                    <h2>发起活动队伍名称</h2>
                    <p>球员A:要上班这场球来不了了</p>

                </a>
            </div></div>
          <div class="list">
              未参与的活动
            <div class="card">
                <a class="item item-content padding" href="#">
                    <span class="item-note">9-15 1:10</span>
                    <h2>发起活动队伍名称</h2>
                    <p>球员A:要上班这场球来不了了</p>

                </a>
            </div>
              <div class="card">
                  <a class="item item-content padding" href="#">
                      <span class="item-note">9-15 1:10</span>
                      <h2>发起活动队伍名称</h2>
                      <p>球员A:要上班这场球来不了了</p>

                  </a>
              </div>
              <div class="card">
                  <a class="item item-content padding" href="#">
                      <span class="item-note">9-15 1:10</span>
                      <h2>发起活动队伍名称</h2>
                      <p>球员A:要上班这场球来不了了</p>

                  </a>
              </div>
        </div>
    </div>

</template>